<section *ngIf="visible">
    
    <h1>Choisissez votre tâche:</h1>
    
    
      <table class="table table-striped table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Numéro</th>
              <th>Titre</th>
              <th>Objectif</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tac of listeTac">
              <td (click)="demarrerSessionTravail(tac.id)">{{tac.numero}}</td>
              <td>{{tac.titre}}</td>
              <td>{{tac.objectif}}</td>
            </tr>
          </tbody>
        </table>
 




    <button class="btn btn-danger" (click)="quitter()">Quitter</button>
 </section>