<!--
//-----------------------------------
  //   Fichier : 
  //   Par:      Alain Martel
  //   Date :    2024-10-09
  //-----------------------------------
-->

<section *ngIf="visible">
   <article class="row">
 
   <button class="col-1 btn btn-info">
    <img width=50 src="images/stats.png" alt="non dispo"  title="Consulter les statistiques du projet">
  </button>
</article>   

   <article class="row">
    <h3>Choisissez votre tâche:</h3>
    
      <table class="table table-striped table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Numéro</th>
              <th>Titre</th>
              <th>Objectif</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tac of listeTac">
              <td class="btn btn-danger" (click)="demarrerSessionTravail(tac.id)" title="démarrer une session de travail sur cette tâche">{{tac.numero}}</td>
              <td>{{tac.titre}}</td>
              <td>{{tac.objectif}}</td>
            </tr>
          </tbody>
        </table>
     </article>
 </section>