
<!--
//-----------------------------------
  //   Fichier : journal.html
  //   Par:      Alain Martel
  //   Date :    2024-10-09
  //-----------------------------------
-->
<section *ngIf="visible">
  <article class="row">

     <button *ngIf="btnStatsVisible" class="col-1 btn btn-info" (click)="ouvrirStats()">
    <img width=50 src="images/stats.png" alt="non dispo"  title="Consulter les statistiques du projet">
  </button>

  <button *ngIf="btnArreterVisible" class="col-1 btn btn-warning" (click)="arreterSessTrav()">
    <img width=50 src="images/stop.png" alt="non dispo"  title="Arrêter de travailler sur cette tâche">
  </button>

  <button *ngIf="btnChangerTache && dev.etat=='actif'" class="col-1 btn btn-success" (click)="changerDeTache()">
    <img width=50 src="images/changerTache.png" alt="non dispo"  title="Arrêter votre session sur la tâche actuelle et choisir une nouvelle tâche">
  </button>

  <button *ngIf="btnChangerTache && dev.etat!='actif'" class="col-1 btn btn-success" (click)="changerDeTache()">
    <img width=50 src="images/changerTache.png" alt="non dispo"  title="Choisir une nouvelle tâche">
  </button>

  <button *ngIf="btnCommentaireVisible" class="col-1 btn btn-info" (click)="commenter()">
    <img width=50 src="images/commentaire.png" alt="non dispo"  title="Commenter votre travail">
  </button>

  <h3 *ngIf="dev.etat=='actif'; else blocInactif" class="col-4 {{dev.etat}}">Journal {{dev.etat}} sur {{sessTravCourante.numTache}}</h3>
  <ng-template #blocInactif>
    <h3 class="col-4 {{dev.etat}}">Journal {{dev.etat}}</h3>
  </ng-template>

</article>   

<article *ngIf="dlgCommentaireVisible" class="col-4">
   <h3>Rédigez votre commentaire:
   <textarea rows="3" cols="35" [(ngModel)]= commCourant.contenu></textarea>
  </h3>
   <button class="btn btn-success" (click)="enregistrerCommentaire()">Enregistrer</button>
   <button class="btn btn-info" (click)="annulerCommentaire()">Annuler</button>

</article>

<article>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Heure</th>
            <th>num tac</th>
            <th>Type</th>
            <th>Contenu</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fait of tabFaits">
            <td>{{fait.date}}</td>
            <td>{{fait.heure}}</td>
            <td>{{fait.numTache}}</td>
            <td><img height=25 src='images/{{fait.type}}.png'></td>
            <td>{{fait.contenu}}</td>
          </tr>
        </tbody>
      </table>
 </article>


 </section>