<!--
//-----------------------------------
  //   Fichier : 
  //   Par:      Alain Martel
  //   Date :    2024-10-09
  //   modifié par : 
  //-----------------------------------
-->
<div class='container'>
  <section class="entete row">
    <h1>
    <img width=50px src="images/jourvie.png" alt="non dispo">
    {{titre}}</h1> 
  </section>

  <app-connexion #conn
  (ConnexionReussieInactif) = lt.onConnexion($event)
  (ConnexionReussieActif) = jour.onConnexion($event)
  (ConnexionReussieInactif) = onConnexion($event)>
  </app-connexion>

  <app-liste-taches #lt
      (quitterLT) = onQuitterLT();
      (quitterLT) = conn.onQuitter()
      (demarrerSesTrav) = jour.onDemarrerSessTrav($event)>
  </app-liste-taches>

  <app-journal #jour
     (changerTache) = lt.onchangerTache($event)
     (quitterJournal) = conn.onQuitter()>
  </app-journal>

</div>



